/* Swagger UI Dark Theme
    Original: https://github.com/ostranme/swagger-ui-themes
*/
.swagger-ui {
    color: #f0f0f0;
    font-family: sans-serif;
    font-size: 14px
}

    .swagger-ui .info .title {
        color: #f0f0f0;
        font-family: sans-serif;
        font-size: 24px
    }

    .swagger-ui .info a {
        color: #7fffd4
    }

    .swagger-ui .scheme-container {
        background-color: #2b2b2b;
        border-bottom: 1px solid #444
    }

    .swagger-ui .opblock-tag {
        color: #f0f0f0;
        font-family: sans-serif
    }

        .swagger-ui .opblock-tag small {
            color: #ccc
        }

    .swagger-ui .opblock {
        border: 1px solid #444;
        box-shadow: 0 0 5px #222;
        background-color: #333
    }

        .swagger-ui .opblock .opblock-summary-method {
            background-color: #444
        }

        .swagger-ui .opblock .opblock-summary-path a {
            color: #7fffd4
        }

        .swagger-ui .opblock .opblock-summary-description {
            color: #ccc
        }

    .swagger-ui .opblock-description-wrapper p {
        color: #ccc
    }

    .swagger-ui .opblock-section-header {
        background: #2b2b2b
    }

        .swagger-ui .opblock-section-header h4 {
            color: #f0f0f0
        }

    .swagger-ui .opblock-control-arrow {
        fill: #f0f0f0
    }

    .swagger-ui .parameter__name {
        color: #f0f0f0
    }

    .swagger-ui .parameter__type {
        color: #ccc
    }

    .swagger-ui .parameter__in {
        color: #aaa
    }

    .swagger-ui .response-col_status {
        color: #f0f0f0
    }

    .swagger-ui .response-col_links {
        color: #f0f0f0
    }

    .swagger-ui .response-col_description__inner > div > div > p {
        color: #ccc
    }

    .swagger-ui .topbar {
        background-color: #2b2b2b;
        border-bottom: 1px solid #444
    }

        .swagger-ui .topbar .download-url-wrapper .select-label {
            color: #f0f0f0
        }

    .swagger-ui select {
        background: #2b2b2b;
        color: #f0f0f0;
        border-color: #444
    }

    .swagger-ui input {
        background: #2b2b2b;
        color: #f0f0f0;
        border-color: #444
    }

    .swagger-ui .btn {
        border-color: #444
    }

        .swagger-ui .btn.execute {
            background-color: #4990e2;
            color: #fff
        }

        .swagger-ui .btn.authorize {
            background-color: #4caf50;
            color: #fff
        }

    .swagger-ui .modal-ux {
        background: rgba(0,0,0,.85)
    }

    .swagger-ui .modal-ux-content {
        background: #2b2b2b
    }

    .swagger-ui .dialog-ux .modal-ux-header {
        background: #333;
        border-bottom: 1px solid #444
    }

        .swagger-ui .dialog-ux .modal-ux-header h3 {
            color: #f0f0f0
        }

        .swagger-ui .dialog-ux .modal-ux-header .close-modal {
            color: #f0f0f0
        }

    .swagger-ui .dialog-ux .modal-ux-body {
        background: #333
    }

        .swagger-ui .dialog-ux .modal-ux-body h4 {
            color: #f0f0f0
        }

        .swagger-ui .dialog-ux .modal-ux-body p {
            color: #ccc
        }

        .swagger-ui .dialog-ux .modal-ux-body .scope-def {
            color: #ccc
        }

    .swagger-ui table thead tr th {
        background: #2b2b2b;
        border-color: #444
    }
